*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background-image:url("image.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    color:#fff;
}
/* Navbar */



/* Hero Section */
.hero{
    height:60vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.overlay{
    background:rgba(0,0,0,0.6);
    padding:40px;
    border-radius:20px;
}

.overlay h1{
    font-size:50px;
    margin-bottom:15px;
    animation:slideDown 1.5s ease;
}

.overlay p{
    font-size:20px;
    margin-bottom:20px;
}

/* Animated Logos */
.tech-logos{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:20px;
}

.tech-logos img{
    width:80px;
    height:80px;
    animation:float 3s ease-in-out infinite;
}

.tech-logos img:nth-child(2){
    animation-delay:1s;
}

/* Cards Container */
.container{
    width:90%;
    max-width:1200px;
    margin:40px auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
}

/* Professional Glass Cards */
.card{
    width:350px;
    min-height:250px;
    padding:25px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);
    border-radius:20px;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
    transition:0.4s;
    animation:fadeUp 1s ease;
}

.card:hover{
    transform:translateY(-10px);
}

.card h2{
    color:#ffd700;
    margin-bottom:15px;
    text-align:center;
}

.card p,
.card li{
    line-height:1.8;
}

.card ul{
    padding-left:20px;
}

/* Table */
table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background:#ffd700;
    color:#000;
    padding:12px;
}

table td{
    background:rgba(255,255,255,0.2);
    padding:12px;
    text-align:center;
}

/* Animations */
@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-15px);}
    100%{transform:translateY(0);}
}

@keyframes slideDown{
    from{
        opacity:0;
        transform:translateY(-50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
footer{
    background:#084298;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px
}


/* Mobile */
@media(max-width:768px){

    .overlay h1{
        font-size:35px;
    }

    .card{
        width:100%;
    }

    .tech-logos img{
        width:60px;
        height:60px;
    }
}